{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block stylesheet %} <link rel="stylesheet" href="../static/css/index.css">
     <link rel="stylesheet" href="../static/css/alert.css">
{% endblock %}
{% block body %}

        <div class="navbar navbar-dark bg-transparent ">

            <div class="navbar-brand " >
                <a class="nav-link" href="{{ url_for('index') }}">
                    <img class="logo" src="../static/media/icons/logo.png">
                    BDMS
                </a>
            </div>
            <div class="user">
                <p><a href="{{ url_for('loggedin') }}"><h5>{{ email }}</h5></a></p>
            </div>
            <div class="btn" >
                <a class="logout bg-dark text-danger nav-link" href="{{ url_for('drop_session') }}">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="col" > Name </div>
            <div class="col" >   {{  donorData.split('&')[0] }}  </div>
            <div class="col" >Gender</div>
            <div class="col" >   {{  donorData.split('&')[1] }}  </div>
        </div>
        <div class="row">
            <div class="col" >Phone Number</div>
            <div class="col" >  {{  donorData.split('&')[2] }}  </div>
            <div class="col" >Email</div>
            <div class="col" >  {{  donorData.split('&')[3] }}  </div>
        </div>
        <div class='row'>
            <div class="col" >Blood Group</div>
            <div class="col" >  {{  donorData.split('&')[4] }}  </div>
            <div class="col" >Country</div>
            <div class="col" >  {{  donorData.split('&')[5] }}  </div>
        </div>
        <div class="row" >
            <div class="col" >Province</div>
            <div class="col" >  {{  donorData.split('&')[6] }}  </div>
            <div class="col" >City</div>
            <div class="col" >  {{  donorData.split('&')[7] }}  </div>
        </div>
        <div class="row">
            <div class="col" >Donation status</div>
            <div class="col" >  {{  donorData.split('&')[8] }}  </div>
            <div class="col" >Birthdate</div>
            <div class="col" >  {{  donorData.split('&')[9] }}  </div>
        </div>

        <script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
    </script>
{% endblock %}
